
.aboutpic{
    height: 500px;
    width: 350px;
    border-radius: 5%;
}
.aboutwhole{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap:25%;
    
    align-items: center;
}
.aboutsection{
    width: 600px;
    text-align: justify;
    padding: 10px;
    font-size:30px;
    word-wrap: break-word;
}